@model List<Order>

@{
    ViewBag.Title = "Заказы";
    Layout = "_Layout";
}

<h2>Список заказов</h2>
<div class="table_section">
    @if (Model == null)
    {
        <p>Список пуст</p>
    }
    else
    {
        <table class="table">
            <tbody>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Адрес доставки</th>
                <th>Номер</th>
                <th>Продукт</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Name</td>
                    <td>@order.Address</td>
                    <td>@order.ContactPhone</td>
                    <td>@order.Phone.Name</td>
                </tr>
            }
        </table>
    }
</div>